.socialMedia-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: .5rem 0;

    li {
        margin-right: 20px;
       

        
        .socialMedia-item{
            text-decoration: none;
            color: #000;
            opacity: 0.5;
            font-weight: 400;
            display: flex;
            align-items: center;
        }
        span{
            min-height: 10px;
        }
    }
}
